{
  "extends": "airbnb-base",
  "rules": {
    "arrow-body-style": [
      "error",
      "always"
    ],
    "class-methods-use-this": 0,
    "guard-for-in": 0,
    "import/no-dynamic-require": 1,
    "import/no-mutable-exports": 1,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/test/**"
        ]
      }
    ],
    "no-console": 0,
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "no-restricted-syntax": 1,
    "no-unused-vars": 1,
    "no-empty": "warn",
    "object-curly-spacing": 0,
    "key-spacing": "warn",
    "max-len": "warn"
  }
}